<!DOCTYPE html>
{%load static%}
<html lang="en">

<head>

    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>DATA ANALYSIS</title>

    <!-- Custom fonts for this template -->
    <link href="{%static 'https://fonts.googleapis.com/css?family=Open+Sans:400,400i,700&display=swap&subset=latin-ext'%}" rel="stylesheet">

    <link href="{%static 'vendor/fontawesome-free/css/all.min.css'%}" rel="stylesheet" type="text/css">
    <link href="{%static 'https://fonts.googleapis.com/css?family=Nunito:200,200i,300,300i,400,400i,600,600i,700,700i,800,800i,900,900i'%}" rel="stylesheet">

    <!-- Custom styles for this template -->
    <link href="{%static 'css/sb-admin-2.min.css'%}" rel="stylesheet">

    <!-- Custom styles for this page -->
    <link href="{%static 'vendor/datatables/dataTables.bootstrap4.min.css'%}" rel="stylesheet">

</head>

<body id="page-top">

    <!-- Page Wrapper -->
    <div id="wrapper">

        <!-- Sidebar -->
        <ul class="navbar-nav bg-gradient-primary sidebar sidebar-dark accordion" id="accordionSidebar">

            <!-- Sidebar - Brand -->
            <a class="sidebar-brand d-flex align-items-center justify-content-center" href="crud.html">
                <div class="sidebar-brand-icon rotate-n-15">
                    <i class="fas fa-laugh-wink"></i>
                </div>
                <div class="sidebar-brand-text mx-3">CRUD </div>
            </a>

            <!-- Divider -->
            <hr class="sidebar-divider my-0">

            <!-- Nav Item - Dashboard -->


             <!-- Ici je vais commenter la majeure partie de mes travaux  -->
             <li class="nav-item">
                <a class="nav-link" href="{% url 'indexc'  %}">
                    <span>home</span></a>
            </li>



             <li class="nav-item">
                <a class="nav-link" href="{% url 'load'  %}">
                    <span>load a new dataset</span></a>
            </li>

            <!-- Divider -->
            <hr class="sidebar-divider">

            <!-- Ici je vais commenter la majeure partie de mes travaux  -->
           

            <li class="nav-item">
                <a class="nav-link" href="{% url 'mise'  %}">
                    <span>mise a jour des data </span></a>
            </li>

            <!-- Divider -->
            <hr class="sidebar-divider">

                     

            



            <!-- Divider -->
            <hr class="sidebar-divider d-none d-md-block">

            <!-- Sidebar Toggler (Sidebar) -->
            <div class="text-center d-none d-md-inline">
                <button class="rounded-circle border-0" id="sidebarToggle"></button>
            </div>

        </ul>
        <!-- End of Sidebar -->

        <!-- Content Wrapper -->
        <div id="content-wrapper" class="d-flex flex-column">

            <!-- Main Content -->
            <div id="content">

               

                <!-- Begin Page Content -->
                <div class="container-fluid">
                    <br>
                    
                    <!-- Page Heading -->
                    <h1 class="h3 mb-2 text-gray-800">INFORMATIONS</h1>
                    <p class="mb-4">you can analyse informations of your customers  in this page </p>
                    <div>
                       
                       
                    
                    </div>
                    <!-- DataTales Example -->
                    <div class="card shadow mb-4">
                        <div class="card-header py-3">
                            <h6 class="m-0 font-weight-bold text-primary">Customer</h6>
                        </div>
                        <div class="card-body">
                            <div class="table-responsive">
                                {% block content %}
                                <table class="table table-bordered" id="dataTable" width="100%" cellspacing="0">
                                    <thead>
                                        <tr>
                                            <th></th>
                                            <th></th>
                                            
                                            <th>ID</th>
                                            <th>person_age</th>
                                            <th>person_income</th>
                                            <th>person_home_ownership</th>
                                            <th>person_emp_length</th>
                                            <th>loan_intent</th>
                                            <th>loan_grade</th>
                                            <th>loan_amnt</th>
                                            <th>loan_int_rate</th>
                                            <th>loan_percent_income</th>
                                            <th>cb_person_default_on_file</th>
                                            <th>cb_person_cred_hist_length</th>
                                            <th>loan_status</th>
                                        </tr>
                                    </thead>
                                    
                                        
                                         <tbody>
                                        
                                      {% for list in liste %}
                                            <tr>
                                               <td> <a href="update/{{list.name}}" class="btn btn-warning" id = '{{list.name}}'>edit</a></td>
                                               <td><a href="delete/{{list.name}}" class="btn btn-danger" id = '{{list.name}}'>delete</a></td>
                                               <td>C{{list.name}}</td>
                                               <td>{{list.person_age}}</td>
                                               <td>{{list.person_income}}</td>
                                               <td>{{list.person_home_ownership}}</td>
                                               <td>{{list.person_emp_length}}</td>
                                               <td>{{list.loan_intent}}</td>
                                               <td>{{list.loan_grade}}</td>
                                               <td>{{list.loan_amn}}</td>
                                               <td>{{list.loan_int_rate}}</td>
                                               <td>{{list.loan_percent_income}}</td>
                                               <td>{{list.cb_person_default_on_file}}</td>
                                               <td>{{list.cb_person_cred_hist_length}}</td>
                                               <td>{{list.loan_status}}</td>
                                           </tr> 
                                         {% endfor %}
                                          
                                       </tbody>
                                      
                                        
                                      
                                       
                                    
                                </table>
                            </div>
                        </div>
                    </div>

                </div>
                <!-- /.container-fluid -->
                {% endblock %}
            </div>
            <!-- End of Main Content -->

            <!-- Footer -->
            <footer class="sticky-footer bg-white">
                <div class="container my-auto">
                    <div class="copyright text-center my-auto">
                        <span>Copyright &copy; Your Website 2020</span>
                    </div>
                </div>
            </footer>
            <!-- End of Footer -->

        </div>
        <!-- End of Content Wrapper -->

    </div>
    <!-- End of Page Wrapper -->

    <!-- Scroll to Top Button-->
    <a class="scroll-to-top rounded" href="#page-top">
        <i class="fas fa-angle-up"></i>
    </a>

    
    <!-- Bootstrap core JavaScript-->
    <script src="{%static 'vendor/jquery/jquery.min.js'%}"></script>
    <script src="{%static 'vendor/bootstrap/js/bootstrap.bundle.min.js'%}"></script>

    <!-- Core plugin JavaScript-->
    <script src="{%static 'vendor/jquery-easing/jquery.easing.min.js'%}"></script>

    <!-- Custom scripts for all pages-->
    <script src="{%static 'js/sb-admin-2.min.js'%}"></script>

    <!-- Page level plugins -->
    <script src="{%static 'vendor/datatables/jquery.dataTables.min.js'%}"></script>
    <script src="{%static 'vendor/datatables/dataTables.bootstrap4.min.js'%}"></script>

    <!-- Page level custom scripts -->
    <script src="{%static 'js/demo/datatables-demo.js'%}"></script>

</body>

</html>